<div *ngIf="stocks">
  <h1>{{stocks.stockName}}</h1>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Stock values</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks.stockHistorics; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{stock.stockValue}}</td>
          <td>{{stock.stockTimeStamp}}</td>
        </tr>
      </tbody>
    </table>
</div>