<h2>Available stocks </h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Stock Name</th>
      <th scope="col">Stock Description</th>
      <th scope="col" *ngIf="authService.loggedIn(); else admin_edit">Edit stock value (Billion $)</th>
      <ng-template #admin_edit>
        <th scope="col">Stock Value (Billion $)</th>
      </ng-template>
      <th scope="col" *ngIf="authService.loggedIn()">Admin rights</th>
    </tr>
  </thead>
  <tbody>
    <tr app-stock-row *ngFor="let stock of stocks; let i = index" [stockItem]="stock" [index]="i"></tr>
  </tbody>
</table>
